body{
    background-color: darkolivegreen;
    width: 100%;
    height: 100vh;
    color: #f5f6f7;
    margin: 0;
    font-family: Tahoma;
    font-size: 16px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
  }

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 1em;
}

input, textarea {
    background-color: #f5f6f7;
    border: 1px solid #f5f6f7;
    color: #ffffff;
  }
