img {
    display: block;      
    max-width: 100%;     
    height: auto;        
    margin: 0 auto;      
  }
  
  body{
      background: linear-gradient(rgb(5, 164, 185), rgba(248, 60, 27, 0.842), rgb(72, 248, 139));
      box-shadow: 0 0 20px 0 rgba(66, 128, 243, 0.8);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      text-align: center;
  }  
  
  ul{
    display: inline-block;     
    text-align: left;           
    list-style-position: inside; 
    margin: 0 auto;        
    padding: 0;
    font-size: 35px;
  }
  
  p {
    font-size: 30px;
    font-weight: bold;
  }
  